<section class="feature-banner section-{{ section.id }}-padding">
  <div class="page-width">
    <div class="feature-banner__container">
      <!-- Left Panel -->
      <div class="feature-banner__left-panel">
        <div class="feature-banner__content">
          {%- if section.settings.heading != blank -%}
            <h2 class="feature-banner__heading">
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}

          {%- if section.settings.description != blank -%}
            <div class="feature-banner__description">
              {{ section.settings.description }}
            </div>
          {%- endif -%}

          <div class="feature-banner__buttons">
            {%- if section.settings.button_primary_label != blank -%}
              <a
                {% if section.settings.button_primary_link != blank %}
                  href="{{ section.settings.button_primary_link }}"
                {% endif %}
                class="feature-banner__button feature-banner__button--primary"
                {% if section.settings.button_primary_link == blank %}
                  role="link" aria-disabled="true"
                {% endif %}
              >
                {{ section.settings.button_primary_label | escape }}
              </a>
            {%- endif -%}

            {%- if section.settings.button_secondary_label != blank -%}
              <a
                {% if section.settings.button_secondary_link != blank %}
                  href="{{ section.settings.button_secondary_link }}"
                {% endif %}
                class="feature-banner__button feature-banner__button--secondary"
                {% if section.settings.button_secondary_link == blank %}
                  role="link" aria-disabled="true"
                {% endif %}
              >
                {{ section.settings.button_secondary_label | escape }}
              </a>
            {%- endif -%}
          </div>
        </div>
      </div>

      <!-- Right Panel -->
      <div class="feature-banner__right-panel">
        <div class="feature-banner__features">
          {%- for block in section.blocks -%}
            <div class="feature-banner__feature" {{ block.shopify_attributes }}>
              {%- if block.settings.image != blank -%}
                <div class="feature-banner__feature-icon">
                  {{ block.settings.image | image_url: width: 60 | image_tag: class: 'feature-banner__feature-image' }}
                </div>
              {%- endif -%}

              {%- if block.settings.title != blank -%}
                <div class="feature-banner__feature-title">
                  {{ block.settings.title }}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</section>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<style>
  .feature-banner {
    background-color: var(--light-secondary-color);
  }

  .feature-banner__container {
    display: flex;
    gap: 172px;
    align-items: center;
  }

  .feature-banner__content {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  .feature-banner__heading {
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    color: var(--light-black);
    max-width: 570px;
  }

  .feature-banner__heading strong {
    color: var(--dark-primary-color);
  }

  .feature-banner__heading p {
    margin: 0;
  }

  .feature-banner__description P {
    font-size: 14px;
    line-height: 25.5px;
    color: var(--light-black);
    margin: 25px 0;
    font-weight: 500;
    letter-spacing: 0;
  }

  .feature-banner__buttons {
    display: flex;
    gap: 25px;
  }
  .feature-banner__left-panel {
    max-width: 48.92%;
  }

  .feature-banner__button {
    display: inline-block;
    padding: 0px;
    border-radius: 108px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    max-width: 197px;
    width: 100%;
    height: 44px;
    line-height: 44px;
  }

  .feature-banner__button--primary {
    background-color: transparent;
    color: var(--dark-primary-color);
    border-color: var(--secondary-color);
  }
  .feature-banner__button--primary:hover {
    background-color: var(--dark-primary-color);
    color: var(--white);
    border-color: transparent;
  }

  .feature-banner__button--secondary {
    background-color: var(--dark-primary-color);
    color: var(--white);
    border-color: transparent;
  }
  .feature-banner__button--secondary:hover {
    background-color: transparent;
    color: var(--dark-primary-color);
    border-color:var(--dark-primary-color)
  }

  .feature-banner__right-panel {
    width: 100%;
  }

  .feature-banner__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 0px;
    justify-content: space-between;
  }

  .feature-banner__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .feature-banner__feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
  }

  .feature-banner__feature-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
  }

  .feature-banner__feature-title {
    font-size: 14px;
    font-weight: 600;
    color: var(--light-black);
    line-height: 24px;
  }

  /* Responsive adjustments */
  @media screen and (max-width: 1200px) {
    .feature-banner__container {
      gap: 100px;
    }
  }
  @media screen and (max-width: 1024px) {
    .feature-banner__container {
      gap: 50px;
      flex-direction: column;
    }
    .feature-banner__heading {
      font-size: 36px;
    }
    .feature-banner__left-panel {
      max-width: 100%;
    }
    .feature-banner__content {
      max-width: 75%;
    }
    .feature-banner__buttons a {
      flex: 1;
      max-width: none;
    }
  }

  @media screen and (max-width: 575px) {
    .feature-banner__content {
      max-width: 100%;
    }
    .feature-banner__heading {
      font-size: 28px;
    }
    .feature-banner__buttons {
      gap: 16px;
      flex-direction: column;
    }

    .feature-banner__feature-icon {
      width: 60px;
      height: 60px;
    }

    .feature-banner__feature-image {
      width: 30px;
      height: 30px;
    }
    .feature-banner__container {
      gap: 30px;
    }
    .feature-banner__features {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>

{% schema %}
{
  "name": "Feature Banner",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "description",
      "default": "<p>Our range is so gentle that even if you have sensitive, reactive skin, or conditions like severe acne, rosacea, psoriasis, eczema you can still get glowing comfortable coverage that does not look like a mask - Find out how and why our range is so good and effective!</p>",
      "label": "Description"
    },
    {
      "type": "text",
      "id": "button_primary_label",
      "default": "Browse Products",
      "label": "Primary Button Label"
    },
    {
      "type": "url",
      "id": "button_primary_link",
      "label": "Primary Button Link"
    },
    {
      "type": "text",
      "id": "button_secondary_label",
      "default": "Good To Know",
      "label": "Secondary Button Label"
    },
    {
      "type": "url",
      "id": "button_secondary_link",
      "label": "Secondary Button Link"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 50
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Feature Icon"
        },
        {
          "type": "text",
          "id": "title",
          "default": "100% Vegan",
          "label": "Feature Title"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Feature Banner",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "title": "100% Vegan"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "No Preservative"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Fragrance Free"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Oil Free"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Non-Synthetic"
          }
        },
        {
          "type": "feature",
          "settings": {
            "title": "Cruelty Free"
          }
        }
      ]
    }
  ]
}
{% endschema %}
